.link-hover:hover {
  color: #ccc !important;
  text-decoration: none !important;
}

/* Footer links */
.footer-link {
  color: white;
  text-decoration: none;
  transition: color 0.2s ease, text-decoration 0.2s ease;
}

.footer-link:hover {
  color: #adb5bd; /* Bootstrap's 'text-secondary' grey */
  text-decoration: underline;
}

/* Sticky footer layout */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.navbar-nav {
  margin-left: 1rem;
}

.dropdown-menu.fade.show {
  display: block;
  opacity: 1;
}

.navbar-nav .nav-link {
  color: #333;
  text-transform: uppercase;
  padding: 0.75rem 1rem;
  border-right: 1px solid #ddd;
  transition: color 0.2s ease-in-out;
}

.navbar-nav .nav-link:last-child {
  border-right: none;
}

.navbar-nav .nav-link:hover {
  color: #666;
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}

.dropdown-menu.fade {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease;
}

.dropdown-menu.fade.show {
  opacity: 1;
  transform: translateY(0);
}